body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1491382825904-a4c6dca98e8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size:cover;
    
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
   text-transform: uppercase;
   letter-spacing: 5px;
   text-align: center;
   color: rgba(74, 74, 72, 0.671);
}

.clock{
     display: flex;
}

.clock div{
   margin: 8px; 
   position: relative;
}

.clock span{
    background-color: rgba(103, 225, 241, 0.40);
    color:white;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 8px black;
}

.clock .text{
    font-size: 15px;
    height: 30px;
    letter-spacing: 1px;
    background-color:rgba(28, 205, 205, 0.40);
    color: black;
}

.clock #ampm{
    position: absolute;
    bottom: 0;
    height: 50px;
    font-size: 40px;
}